* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
.oiseau {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.title {
  position: absolute;
  color: rgb(255, 53, 194);
  font-size: 100px;
  top: 45%;
  left: 15%;
  z-index: 1;
}
.oiseau-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 500px;
  height: 500px;
  background-color: black;
}
.crique-image {
  bottom: -70%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.crique-text {
  position: absolute;
  top: 60%;
  left: 70%;
  z-index: 4;
  color: rgb(255, 53, 194);
  font-size: 45;
  opacity: 0;
}
