* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.title {
  position: absolute;
  color: rgb(255, 53, 194);
  font-size: 100px;
  top: 45%;
  left: 15%;
  z-index: 1;
}
.oiseau-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 500px;
  height: 500px;
  background-color: black;
}
.crique-image {
  bottom: -80%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.crique-text {
  position: absolute;
  top: 60%;
  left: 70%;
  z-index: 4;
  color: rgb(255, 53, 194);
  font-size: 45;
  opacity: 0;
}

.vacancier-text {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 5;
  color: rgb(255, 53, 194);
  font-size: 45;
  opacity: 0;
}

.herbe-right {
  width: 70%;
  height: 25%;
  background-color: green;
  right: -70%;
  bottom: 0;
  z-index: 6;
  position: absolute;
}
.herbe-left {
  width: 70%;
  height: 25%;
  background-color: green;
  left: -70%;
  bottom: 0;
  z-index: 6;
  position: absolute;
}

.vacancier-right {
  width: 50%;
  height: 25%;
  background-color: pink;
  right: -50%;
  bottom: 20%;
  z-index: 5;
  position: absolute;
}
.vacancier-left {
  width: 50%;
  height: 25%;
  background-color: pink;
  left: -50%;
  bottom: 20%;
  z-index: 5;
  position: absolute;
}

.chateau-image {
  width: 55%;
  height: 70%;
  bottom: -70%;
  right: 0;
  background-color: pink;
  z-index: 8;
  position: absolute;
}

.chateau-phrase {
  width: 20%;
  height: 30%;
  bottom: 0;
  left: 0;
  background-color: pink;
  z-index: 9;
  position: absolute;
}

.chateau-text {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 7;
  color: rgb(255, 53, 194);
  font-size: 45;
  opacity: 0;
}
